<%- include('../partials/header.ejs') -%>
<%- include('./partials/tutorNav.ejs') -%>

<h2 class="text-center text-center">Edit Class</h2>

<div class="container mt-5">
    <form action="/tutor/edit_class" method="POST" enctype="multipart/form-data">
        <div class="row justify-content-around">
            <div class="col-sm-4">

                <img class="img-fluid" src="/<%= classDetails.banner || 'images/placeholder.jpg' %>" alt="">

                <div class="mb-3">
                    <label for="class-banner" class="form-label">Change Class Banner Picture</label>
                    <input class="form-control" name="class-banner" type="file" id="class-banner">
                </div>

            </div>

            <div class="col-sm-4">

                <input type="hidden" name="id" value="<%= classDetails._id %>" id="title">


                <div class="mb-3">
                    <label for="title" class="form-label">Class Title</label>
                    <input type="text" class="form-control" name="title" value="<%= classDetails.title %>" id="title">
                </div>
                
                <div class="mb-3">
                    <label for="description" class="form-label">Class Description</label>
                    <textarea class="form-control" name="description" id="description" rows="3"><%= classDetails.description%></textarea> 
                </div>

                <div class="mb-3">
                    <label for="fee" class="form-label">Class fee per hour</label>
                    <input type="number" class="form-control" name="fee" id="fee" value="<%= classDetails.fee %>">
                </div>

                <div class="mb-3">
                    <label for="tags" class="form-label">Tags</label>
                    <input type="text" class="form-control" name="tags" id="tags" value="<%= classDetails.tags.join(',') %> ">
                </div>


            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-lg btn-success">Update Class</button>
        </div>
    </form>
</div>




<%- include('../partials/footer.ejs') %>