<%- include('../partials/header.ejs') -%>

<div>
    <div class="container mt-5">
        <h1 class="mb-8 text-center"><a class="text-decoration-none" href="/">E-Tutor</a></h1>
        <div class="card p-5 col-md-5 m-auto">
            <h3 class="mb-8 text-center">Tutor Login</h3>

            <form action="/tutor/login" method="POST">

                <div class="mb-3">
                    <label class="form-label">Full name</label>
                    <input type="text"
                        class="form-control <%= error.email ? 'border-red-500' : '' %> "
                        name="email" placeholder="Email" value="<%= value.email && value.email %>" />
                    <div class="link-danger">
                        <%= error.email && error.email %>
                    </div>
                </div>
               <div class="mb-3">
                    <label class="form-label">Full name</label>
                    <input type="password"
                        class="form-control<%= error.password ? 'border-red-500' : '' %>"
                        name="password" placeholder="Password" value="<%= value.password && value.password %>" />
                </div>
                <div class="text-center">
                <button type="submit" class="btn btn-success mt-3 mb-3">Sign In</button>
                </div>
            </form>


            <div class="text-grey-dark mt-6 text-center">
                Do not have an account?
                <a class="no-underline border-b border-blue text-blue" href="/tutor/register">
                    Sign up now!
                </a>
            </div>

        </div>

        
    </div>
</div>

<%- include('../partials/footer.ejs') %>


</body>

</html>